# Configuración de Base de Datos Local
POSTGRES_USER=terpenos_admin
POSTGRES_PASSWORD=TU_CLAVE_AQUI
POSTGRES_DB=terpenos_db

# Clave para encriptar los JWT (Tokens de sesión)
SECRET_KEY_JWT=TU_CLAVE_SECRETA_AQUI
